@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: transparent ;
    font-family: Quicksand;
    font-size: 16pt;
    font-weight: 300;
    color: #24252A;

}

li , button ,a {
    color: #24252A;
    text-decoration: none;
    
}
header {
    border-bottom: 2px solid #0088a9;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding: 35px 10%;
    
    
}


#nav_links{
    list-style: none;
 
}

#nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

#nav_links li a{
   transition: all 0.3s ease 0s;
   font-size: 20pt;

    
}

#nav_links li a:hover{
    color: #0088a9;     
    cursor: pointer;

 }

#cBtn{
    padding: 9px 20px;
    font-size: 18pt;
    color: #edf0f1;

    background-color: #0088a9;
}
#cBtn:hover{
    transition: all 0.3s ease 0s;
    background-color: rgb(4, 114, 141);

}
button{
    padding: 9px 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;


}

button:hover{
    background-color: rgb(4, 114, 141);
}

div{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
img{
    display:block;
    margin-right: auto;    
    margin-left: auto;
    height: 85vh ;
    padding: 8px ;
}


#intro {
    position: absolute;
    left: 8%;
    font-size: 35pt;
    transition: all 0.3s ease 0s;

}

#intro:hover {
color: #0088a9;
transition: all 0.3s ease 0s;

}
#vanta-canvas{
    width: 100%;
    height: 100vh;
}

/* ------------------------------------------------------------------------------------NEWS/WEATHER--------------------------------------------------------------------------------------------------------------------------- */

#cityInputLabel{
    
    padding: 10px;
    margin-top: 30px;
    font-size: 20pt;
    justify-content: center;
}
#cityInput{
    display: block;
    justify-content: center;
    border:2px solid #0088a9;
    padding: 5px;
    font-size: 18pt;
}
#submitCity{
    margin-top: 10px;
    color: #edf0f1;

    background-color: #0088a9;
    padding: 13px 13px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

#submitCity:hover{
    cursor:pointer;
    background-color: rgb(4, 114, 141);

}
#newsPageNav{
    margin: 30px 20% 10px;
    display: flex;
    justify-content: space-between;
}
#pageBody{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    

}
#weatherNav{
    border-bottom: 2px solid #0088a9;
    text-shadow: azure;
    font-size: 22pt;
    display: block;
    justify-content: space-between;
    margin-left: 25px;

}
#newsNav{
    border-bottom: 2px solid #0088a9;
    text-shadow: azure;
    font-size: 22pt;
    margin-right: 45px;
    display: block;
    justify-content: space-between;
}

#newsContainer{
    display: flex;
    box-shadow: 0 0 10px 5px #0088a9;
    margin-right:  40px;
    width: 45%;
}

#weatherContainer{
    display: flex;
    box-shadow: 0 0 10px 5px #0088a9;
    margin-left: 40px;
    width: 45%;
}

.weatherCardContainer{
    display: block;
    justify-content: center;
}
.newsCardContainer{
    display: block;
}

.newsCardImg{
   max-width: 350px;
   padding: 0;
   margin-top: 30px;
    width: auto;
    height: auto;
}


.newsCardBtn:hover{
    cursor:pointer;
    background-color: rgb(4, 114, 141);
}

.newsCardTitle{
    padding: 10px;
    text-align: center;
    font-size: 20pt;
}

.weatherCardCity{
    margin-top: 60px;
    padding: 10px;
    padding-bottom: 5px;
    text-align: left;
    font-size: 25pt;
}
.weatherCardCountry{
    text-align: left;
    font-size: 20pt;
}

.cardTemp{
    display: block;
    padding: 10px;
}

.newsCardBtn{
    color: #edf0f1;

    position: relative;
    margin-top: 35px;
    margin-bottom: 20px;
    background-color: #0088a9;
    padding: 9px 25px;
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    text-align: center;
    align-items: center;
}
.cardTemp{
    font-size: 18pt;
}
.weatherIcon{
display: flex;
justify-content: center;
}
.cardText{
    font-size: 18pt;
}
.weatherCardBody{
    display: block;
}
.weatherIconImg{
    padding: 0px;   
    align-items: center;
    width: auto;
    height: auto;
    }
   


/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
::-webkit-input-placeholder {
    text-align: center;

  }
  
  :-moz-placeholder {
    text-align: center;

  }