@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252a ;
    font-family: Quicksand;
    font-size: 16pt;
    font-weight: 300;
    color: #edf0f1;

}

li , button ,a {
    color: #edf0f1;
    text-decoration: none;
    
}
header {
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding: 30px 10%;
    
    
}


#nav_links{
    list-style: none;
 
}

#nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

#nav_links li a{
   transition: all 0.3s ease 0s;
    
}

#nav_links li a:hover{
    color: #0088a9;     
    cursor: pointer;

 }

#cBtn{
    background-color: #0088a9;
}
#cBtn:hover{
    transition: all 0.3s ease 0s;
    background-color: rgb(4, 114, 141);

}
button{
    padding: 9px 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;


}

button:hover{
    background-color: rgb(4, 114, 141);
}

div{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
img{
    display:block;
    margin-right: auto;    
    margin-left: auto;
    height: 85vh ;
    padding: 8px ;
}


#intro {
    position: absolute;
    left: 7%;
    font-size: 25pt;
    transition: all 0.3s ease 0s;

}

#intro:hover {
color: #0088a9;
transition: all 0.3s ease 0s;

}

#motivationPageNav{
    margin: 30px 15% 0px;
    display: flex;
    justify-content: space-between;
}

#motivationPageContent{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

 #quoteContainer{
    position: relative;
    border: 2px solid #0088a9;
    margin-left: 40px;
    width: 30%;
}
#dogPictureContainer{
    border: 2px solid #0088a9;
    margin-right:  40px;
    width: 30%;

}
#dogPicBtn{
margin-right: 30px;
}

 
#dogImg{
    max-width: 540px ;
    max-height: 60vh ;
    width: auto;
    height: auto;
}


/* 
#circle{
    display: flex;

    margin-top: 50px;
        width: 200px;
        height: 200px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius:100px;
        background: #0088a9;
       
} */
 #contactTitle{
    font-size: 20pt;
    margin-top: 20px;
    margin-bottom: 30px;
    justify-content: center;
} 

#contactContainer{
   
    margin-top: 20px;
    display: relative;
 

}
#formContainer{
display: block;
width: 480px;
}
.nameDiv{
    padding: 15px;
    justify-content:left;
}
label{
    width: 50%;
}
.contactInput{
    width: 50%;
}

#contactSubmit{
    margin-top: 30px;
    background-color: #0088a9;
    padding: 9px 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

#contactSubmit:hover{
    cursor:pointer;
    background-color: rgb(4, 114, 141);

}


#timerContainer{
    font-size: 25px;
    border: 2px solid #0088a9;

} 

